{% extends "layout.twig" %}

{% block title %}
Coxeter groups
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td></td>
            <td>Name</td>
            <td>Rank</td>
            <td>Size</td>
        </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr>
            <td><a href="/group/{{ group.id }}">Show</a></td>
            <td>${{ group.name | default('-') }}$</td>
            <td>{{ group.rank }}</td>
            <td>{{ group.size > 0 ? group.size : '$\\infty$' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}