<!DOCTYPE html>
<html>
    <head>
        <title>Coxeter</title>
        <link href="/css/fonts.css" rel="stylesheet" type="text/css" />
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
        <script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="/js/raphael-2.1.0.min.js" type="text/javascript"></script>
        <script src="/js/graph.js" type="text/javascript"></script>
        <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
            });
        </script>
        <script src="/mathjax/MathJax.js?config=TeX-AMS_HTML-full" type="text/javascript"></script>
    </head>
    <body>
        <header class="container-fluid">
            <nav class="pull-right">

               <div class="btn-group">
                  <a href="/" class="btn primary">Home</a>
                  <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                      Source code <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="https://github.com/choffmeister/coxeter" target="_blank">SCM for calculations</a></li>
                      <li><a href="https://github.com/choffmeister/coxeter" target="_blank">SCM for this website</a></li>
                  </ul>
                </div>
            </nav>
            <h1>Calculation results on twisted involutions</h1>
        </header>
        <hr />
        <section class="container-fluid">
            <h3 id="title">
                {% block title %}(Untitled){% endblock %}
            </h3>
            {% block content %}{% endblock %}
        </section>
        <hr />
        <footer class="container-fluid">
            &copy; 2012 <a href="http://choffmeister.de/" target="_blank">Christian Hoffmeister</a>
        </footer>
    </body>
</html>