header {
	padding: 20px 0 0 0;
}

header h1 {
	margin: 0;
	padding: 0;
	font-size: 180%;
}

nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav > ul > li {
	margin: 0;
	padding: 0;
	display: inline-block;
}

nav > ul > li:after {
	content: " | ";
}

nav > ul > li:last-child:after {
    content: "";
}

#title {
	margin-bottom: 1em;
}

.container-fluid {
	max-width: 1200px;
	margin: 0 auto;
}

.workspace {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-ms-user-select: none;
	position: relative;
	overflow: hidden;
	background-color: #fcfcfc;
}

.workspace:not(.workspace-fullscreen) {
	position: relative;
	border: 1px solid #dddddd;
	height: 600px;
}

.workspace.workspace-fullscreen {
	position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.workspace .workspace-controls {
    position: absolute;
    z-index: 20000;
    left: 0;
    top: 0;
    width: 120px;
}

.workspace-controls > div {
	border: 1px solid #dddddd;
	border-radius: 3px;
	padding: 5px;
    background-color: #fff;
}

.workspace-controls > div > button {
    width: 100%;
}

.workspace .workspace-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#canvas {
	display: inline-block;
	background-color: #ffffff;
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
